<h1>Add a new book</h1>
<form action="/create" method="POST">
    
    <label for="name">Name:</label><br>

    <input type="text" name="name" ><br>


    <label for="author">Author Name:</label><br> <input type="text" name="authorofbk"  ><br>
    
    <label for="link">Amazon Link:</label><br><input type="text" name="link"  ><br>
    <br>
    
    <button type="submit">Submit</button>
</form>



<ul>
    <a href="/home">List of Book</a><span>|</span>
    <a href="/addNewBook">Add Book</a><span>|</span>
    <a href="/deleteABook">Delete Book</a>
</ul>