
<p class="link">Name of the Author: {{book.author}}</p>
<a class="link"  href="{{book.link}}">Buy on Amazon!</a>

<ul>
    <li><a href="/home">List of Book</a></li>
    <li><a href="/addNewBook">Add Book</a></li>
    <li><a href="/deleteABook">Delete Book</a></li>
</ul>